* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

/* Also explicitly reset margin on body */
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* header.css */
header {
  color: rgb(224, 222, 222);
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  margin-bottom: 0;
}

header i {
  font-size: 2rem;
  margin: 0 40px; /* adds space on left and right */
}


header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1.5rem;
  font-weight: 600;
}

header nav ul li a {
  color: black;
  text-decoration: none;
  font-size: 30px;
}

header nav ul li a:hover {
  text-decoration: underline;
}

