<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

</head>
<header>
  <div>
    <!-- Logo placeholder -->
  </div>
  
  <nav>
    <ul>
      <li><a href="/" title="Home"><i class="fa-solid fa-house fa-3x"></i></a></li>
      <li><a href="/profile" title="Profile"><i class="fa-solid fa-user fa-3x"></i></a></li>
</a></li>

    </ul>
  </nav>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/quagga/0.12.1/quagga.min.js"></script>

</header>

<body>
